/* ====================== Common styles ====================== */
* {
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", serif;
    font-size: 20px;
    background-color: #0f0d0d;
    background: url(../img/bg-1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

body::after {
    content: "";
    background-image: url(../img/bg-2.png);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 15px;
    top: 15px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.wrapper {
    min-height: 80vh;
    padding: 40px;
    background-color: #3a373792;
    border-radius: 15px;
    text-align: center;
}

.footer {
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
    color: #e91212;
}

.title,
.title-style {
    font-family: 'Water Brush', cursive;
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0 5px #000000, 0 10px 50px #e91212;
}

.title {
    font-size: 6rem;
}

.new-style {
    color: #e91212;
    text-shadow: 0 0 5px #000000, 0 10px 50px #ffffff;
}

/* ====================== Navigation ====================== */

.main-nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

.section {
    text-align: justify;
    font-size: 0.9rem;
}

.section__title {
    margin: 15px;
    border-bottom: 2px solid #ffffff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/* ====================== Cards ====================== */

.card-wrapper {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin-top: 3em;
    padding: 25px;
    background-color: #787270d1;
    border: 2px solid #eae0e0;
    border-radius: 15px;
    color: #ffffff;
}

.card-new {
    position: relative;
}
.card-new::after {
    content: "";
    background-image: url(../img/new-sticker.png);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    position: absolute;
    right: -40px;
    top: -40px;
}

.card-img-top {
    width: 250px;
    padding: 15px;
}

.card-title {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    text-shadow: 0 0 5px #000000, 0 10px 50px #e91212;
}

.card-text {
    text-align: center;
    margin-bottom: 15px;
    color: #d2cece;
}

.color-gold {
    color: #dbb623;
}

.color-red {
    color: #b5141a;
}

/* ====================== Buttons ====================== */

.btn {
    padding: 5px 15px;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #716a6798;
    border-radius: 15px;
    color: #ff1515;
    transition: all 0.5s ease;
}

.btn:hover, button:hover {
    background-color: #e91212;
    color: #ffffff;
}

.btn>img {
    margin-top: 20px;
}

.btn-primary {
    border-radius: 5px;
    font-size: 0.8em;
    background-color: #3e0303;
    color: #f4b7b7;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    background: #180000;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    color: #ff0000;
    transition: all 0.5s ease;
}

/* ====================== Articles ====================== */

.articles {
    margin-bottom: 2rem;
    text-align: left;
}

.articles__title,
.article__title {
    margin-bottom: 25px;
    font-family: Geneva, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
    color: #df0707;
    border-bottom: 1px solid #ffffff;
}

.articles__short,
.articles__long {
    margin-top: 10px;
    padding: 15px;
    text-align: justify;
    background-color: #5a842dbb;
    border-radius: 10px;
}

.article__title {
    font-size: 1.5em;
    text-align: center;
}

.first-letter {
    padding-right: 25px;
    float: left;
    font-family: 'Water Brush', cursive;
    font-size: 4rem;
    color: #df0707;
}

.read-more {
    font-style: italic;
    color: #9e9c9c;
}

.read-more:hover,
.comments:hover {
    font-style: normal;
    text-decoration: none;
    color: #000000;
}

.comments {
    margin: 15px;
}

.comments-wrapper {
    margin: 25px;
    padding: 15px;
    background-color: #aaaaaaaf;
    border-radius: 15px;

}

.comments-wrapper h3 {
    margin-bottom: 5px;
    color: #e912126e;
}

#comments {
    margin-bottom: 50px;
    text-align: left;
}

/* ====================== Lists  ====================== */

.catalog-list {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 30px auto;
    padding: 2rem;
    background: #ffffff67;
    border-radius: 15px;
    list-style: url(../img/arrow.png);
    list-style-position: inside;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: left;
}

.sub-list {
    padding: 1rem;
    background-color: #7a5151d7;
    border-radius: 15px;
    list-style: url(../img/treehouse-marker.png);
    list-style-position: inside;
    font-weight: 500;
    font-size: 0.7em;
}

.new::after {
    content: "new";
    margin-left: 4px;
    margin-bottom: 3px;
    padding: 5px;
    background: #fccd57;
    font-size: 0.6em;
    font-weight: 700;
    border-radius: 15px;
    color: #e91212;
}

/*  ====================== Gallery ====================== */

.texture {
    background-image: url(../img/texture.png);
    background-size: 100px;
    background-repeat: repeat;
}

.gallery {
    display: flex;
    margin-top: 3rem;
    text-align: center;
}

.gallery__img {
    width: 300px;
    margin-top: 40px;
    outline: 10px solid #2e0303;
    border-radius: 10%;
}

.gallery__img:hover {
    outline: none;
    border-radius: 0;
}

.gallery__link {
    padding: 10px;
    background-color: #0f0d0d;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.3s ease all;
}

.gallery__link:hover {
    background-color:#750707;
    color: #eae0e0;
}

/* ====================== Forms ====================== */
label {
    text-align: center;
    color: #eae0e0;
}

legend {
    padding: 5px;
    font-size: 1rem;
    border: 2px solid #b7b7b7;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
}

fieldset {
    max-width: 600px;
    margin: 25px auto;
    background-color: #9e9c9cc4;
    border: 2px solid #b7b7b7;
    border-radius: 15px;
    text-align: left;
    color: #e5e5e5;

}

input {
    width: 100%;
    margin: 10px 5px;
    padding: 10px 20px;
    font-style: italic;
}

input[type="file"] {
    padding: 0;
    margin: 0 0 15px 0;
}

input[name="name"],
input[name="sur_name"],
input[name="patrymonic"] {
    text-transform: capitalize;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

textarea {
    width: 100%;
    margin-top: 10px;
    padding: 15px 25px;
    min-height: 70px;
    max-height: 35vh;
    font-family: inherit;
    font-style: italic;
}

.btn-wrapp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.special-hover:hover {
    outline: 2px dashed #2e0303;
}

iframe {
    width: 800px;
    height: 450px;
    border: 0;
    opacity: 0.8;
}